#*.jpg
koto/*

Res.D-64/*.jpg
D-4/*.jpg
D-4/*.gif
D-4/s-3#3/*.gif
images/*.jpg

videos/D-4/*.avi

ART_D-6/*.jpg
ART_D-6/*.png

ART_D-7/*.jpg
ART_D-7/*.png

art_works/*.jpg
art_works/*.png

ART_D-8/*.jpg
ART_D-8/*.png
ART_D-8/*.wmv
ART_D-8/*.avi
ART_D-8/*.wav
ART_D-8/*.mp3

ART_D-9/*.mp4
ART_D-9/*.gif
ART_D-9/*.jpg
ART_D-9/*.png
ART_D-9/*.wmv
ART_D-9/*.avi
ART_D-9/*.wav
ART_D-9/*.mp3

ART_D-9/sounds/*.wav
ART_D-9/sounds/sounds_s-10/*.wav

ART_D-9/s-10/*.mp4
ART_D-9/s-10/*.gif
ART_D-9/s-10/*.jpg
ART_D-9/s-10/*.png
ART_D-9/s-10/*.wmv
ART_D-9/s-10/*.avi
ART_D-9/s-10/*.wav
ART_D-9/s-10/*.mp3
#ART_D-9/s-10/*.mp4

ART_D-9/s-11/*.mp4
ART_D-9/s-11/*.gif
ART_D-9/s-11/*.jpg
ART_D-9/s-11/*.png
ART_D-9/s-11/*.wmv
ART_D-9/s-11/*.avi
ART_D-9/s-11/*.wav
ART_D-9/s-11/*.mp3
#ART_D-9/s-11/*.mp4

ART_D-11/s-1/*.mp4
ART_D-11/s-1/*.gif
ART_D-11/s-1/*.jpg
ART_D-11/s-1/*.png
ART_D-11/s-1/*.wmv
ART_D-11/s-1/*.avi
ART_D-11/s-1/*.wav
ART_D-11/s-1/*.mp3
#ART_D-11/s-1/*.mp4

#ART_D-10/s-1/D-10_s-1#1.steps-1__first-drawing.pcl.data
ART_D-10/s-1/D-10_s-1#1.steps-1__first-drawing.pcl.data/*.mp4
ART_D-10/s-1/D-10_s-1#1.steps-1__first-drawing.pcl.data/*.gif
ART_D-10/s-1/D-10_s-1#1.steps-1__first-drawing.pcl.data/*.jpg
ART_D-10/s-1/D-10_s-1#1.steps-1__first-drawing.pcl.data/*.png
ART_D-10/s-1/D-10_s-1#1.steps-1__first-drawing.pcl.data/*.wmv
ART_D-10/s-1/D-10_s-1#1.steps-1__first-drawing.pcl.data/*.avi
ART_D-10/s-1/D-10_s-1#1.steps-1__first-drawing.pcl.data/*.wav
ART_D-10/s-1/D-10_s-1#1.steps-1__first-drawing.pcl.data/*.mp3
#ART_D-10/s-1/D-10_s-1#1.steps-1__first-drawing.pcl.data/*.mp4

ART_D-11/s-1/*.mp4
ART_D-11/s-1/*.gif
ART_D-11/s-1/*.jpg
ART_D-11/s-1/*.png
ART_D-11/s-1/*.wmv
ART_D-11/s-1/*.avi
ART_D-11/s-1/*.wav
ART_D-11/s-1/*.mp3
#ART_D-11/s-1/*.mp4

ART_D-11/s-2/*.mp4
ART_D-11/s-2/*.gif
ART_D-11/s-2/*.jpg
ART_D-11/s-2/*.png
ART_D-11/s-2/*.wmv
ART_D-11/s-2/*.avi
ART_D-11/s-2/*.wav
ART_D-11/s-2/*.mp3
#ART_D-11/s-2/*.mp4

ART_D-11/s-3/*.mp4
ART_D-11/s-3/*.gif
ART_D-11/s-3/*.jpg
ART_D-11/s-3/*.png
ART_D-11/s-3/*.wmv
ART_D-11/s-3/*.avi
ART_D-11/s-3/*.wav
ART_D-11/s-3/*.mp3
#ART_D-11/s-3/*.mp4


ART_D-11/*/*.mp4
ART_D-11/*/*.gif
ART_D-11/*/*.jpg
ART_D-11/*/*.png
ART_D-11/*/*.wmv
ART_D-11/*/*.avi
ART_D-11/*/*.wav
ART_D-11/*/*.mp3
#ART_D-11/*/*.mp4

ART_D-*/*/*.mp4
ART_D-*/*/*.gif
ART_D-*/*/*.jpg
ART_D-*/*/*.png
ART_D-*/*/*.wmv
ART_D-*/*/*.avi
ART_D-*/*/*.wav
ART_D-*/*/*.mp3

#"GIMP\346\225\231\346\234\254/*"
GIMP_kyouhon/*

to_iphone/
to_iphone/*.mp4
to_iphone/*.gif
to_iphone/*.jpg
to_iphone/*.png
to_iphone/*.wmv
to_iphone/*.avi
to_iphone/*.wav
to_iphone/*.mp3



