#*.jpg
koto/*

Res.D-64/*.jpg
D-4/*.jpg
D-4/*.gif
D-4/s-3#3/*.gif
images/*.jpg

videos/D-4/*.avi

ART_D-6/*.jpg
ART_D-6/*.png

ART_D-7/*.jpg
ART_D-7/*.png

art_works/*.jpg
art_works/*.png

ART_D-8/*.jpg
ART_D-8/*.png
ART_D-8/*.wmv
ART_D-8/*.avi
ART_D-8/*.wav
ART_D-8/*.mp3

ART_D-9/*.mp4
ART_D-9/*.gif
ART_D-9/*.jpg
ART_D-9/*.png
ART_D-9/*.wmv
ART_D-9/*.avi
ART_D-9/*.wav
ART_D-9/*.mp3

ART_D-9/sounds/*.wav
ART_D-9/sounds/sounds_s-10/*.wav

ART_D-9/s-10/*.mp4
ART_D-9/s-10/*.gif
ART_D-9/s-10/*.jpg
ART_D-9/s-10/*.png
ART_D-9/s-10/*.wmv
ART_D-9/s-10/*.avi
ART_D-9/s-10/*.wav
ART_D-9/s-10/*.mp3
#ART_D-9/s-10/*.mp4

ART_D-9/s-11/*.mp4
ART_D-9/s-11/*.gif
ART_D-9/s-11/*.jpg
ART_D-9/s-11/*.png
ART_D-9/s-11/*.wmv
ART_D-9/s-11/*.avi
ART_D-9/s-11/*.wav
ART_D-9/s-11/*.mp3
#ART_D-9/s-11/*.mp4
